{% extends 'base/base.html' %}
{% load static %}

{% block title %}Liste des événements{% endblock title %}

{% block extracss %}
  <link href="{% static 'css/chatt.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-comment-o"></i> Chatt</h1>
        <p>calendrier des événements </p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
       <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
       <li class="breadcrumb-item"><a href="#">chatt</a></li>
    </ul>
{% endblock breadcrumb %}

    
{% block content %}
    <div>
        <h2>Chatt</h2>
    </div>
    <div class="container">
        <form id = "post-form" method="POST" action="checkview">
            {% csrf_token %}
            <input type="text" name="room_name" placeholder="Groupe" />
            <input type="text" name="username" placeholder="Username"/>
            <input type="submit" value="Entrer Room">
        </form>
    </div>
{% endblock %}
